form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 387px;
    top:291px;
    position: absolute;
    align-items: center;
}

.signIn-title {
    top: -95px;
    left: 0px;
    width: 128px;
    height: 44px;
    /* UI Properties */
    text-align: left;
    font: normal 32px/60px Avenir;
    letter-spacing: 1.28px;
    color: #4552C1;
    text-transform: uppercase;
    opacity: 1;
    position: absolute;
}

.signIn-form input {
    width: 100%;
    padding: 22px 5px;
    border: 0px;
    box-sizing: border-box;
    border-bottom: 1px solid gray;
    background:transparent;
}

.signIn-form input:focus {
    outline: none;
}

.signIn-form img {
    position: absolute;
    top: 102px;
    right:5px;
    width: 15px;
    height: 21px;
    /* UI Properties */
    /* background: transparent url('img/padlock.png') 0% 0% no-repeat padding-box; */
    opacity: 1;
}

.forgot-password {
    top: 155px;
    right: 0px;
    height: 22px;
    /* UI Properties */
    text-align: left;
    font: normal normal 14px/26px Avenir;
    letter-spacing: 0.64px;
    color: #4552C1;
    text-transform: capitalize;
    opacity: 1;
    position: absolute;
    cursor:pointer;
}

.signIn-form button {
    top: 245px;
    left: 118px;
    width: 150px;
    height: 50px;
    /* UI Properties */
    background: #4552C1 0% 0% no-repeat padding-box;
    border-radius: 4px;
    box-sizing: border-box;
    opacity: 1;
    color: #FFFFFF;
    position: absolute;
    border: 0px;
    font: normal normal bold 15px/20px Avenir;
    letter-spacing: 0.3px;
    text-align: center;
}

.signIn-form button:hover {
    box-shadow: 2px 4px 15px 3px lightslategray;
    cursor:pointer;
}
