.maindiv {
  z-index: 999;
  padding: 50px 0;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 199px;
  left: 529px;
  width: 466px;
  height: 504px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e5e0e0;
  border-radius: 8px;
  opacity: 1;
  .container {
    top: 220px;
    left: 605px;
    width: 315px;
    height: 475px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 24px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .tholder {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 262px;
      height: 66px;
      span {
        text-align: center;
        font: normal normal bold 24px/33px Open Sans;
        letter-spacing: 0.43px;
        color: #0a1f44;
        opacity: 1;
      }
    }
    .text {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 263px;
      height: 45px;
      span {
        text-align: center;
        font: normal normal normal 17px/22px Open Sans;
        letter-spacing: -0.41px;
        color: #0a1f44;
        opacity: 1;
      }
    }
    .btn {
      button {
        width: 235px;
        height: 44px;
        background: #5861ae 0% 0% no-repeat padding-box;
        border-radius: 22px;
        opacity: 1;
        border: none;
      }
    }
  }
}
.rounded {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 120px;
  height: 120px;
  background: #5861ae60 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 50%;
  img {
    width: 80px;
    height: 80px;
  }
}
